@tailwind base;
@tailwind components;
@tailwind utilities;

.car1{
  background: #DAD299; 
background: -webkit-linear-gradient(to right, #B0DAB9, #DAD299); 
background: linear-gradient(to right, #B0DAB9, #DAD299);

}